#my-signup-modal {
    width: 370px;
    height: 360px;
}

.modal-content {
    border: 1px solid white!important;
}

.input:hover {
    border: 1px solid purple;
}

.input {
    width: 100%;
    font-size: 12px;
    margin: 5px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid grey;
    height: 30px;
}

.button{ 
    text-transform: uppercase;
    padding: 10px;
    border-radius: 2; 
    cursor: pointer; 
    color: darkgray;
}

.button:hover {
    background-color: darkgray;
    color: white;
    font-weight: 700;
}

.errorMessage {
    color: #ce1313;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
}

.message {
    color: darkgrey;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 10px;
    width: 100%;
}

.inputError {
    border: #ce1313;
}
