// .form-control{
//     border-radius: 10px;
// }
// .login-btn{
//     border-radius: 15px;
//   }
// .login-text {
//     margin-left: 18px;
//     margin-right: 18px;
// }
// .login {
//   position: relative;
//   top: -250px;
//   left: 4%
// }

.form-control{
  border-radius: 10px;
}
.login-btn{
  border-radius: 15px;
}
.login-text {
  margin-left: 18px;
  margin-right: 18px;
}