
.Navigation {
    width: 100%;
    border-bottom: 1px solid #a8a5a3;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 0;
    height: 100px;
    margin-bottom: 60px;
    background: #f8f8f8;
    position: relative;
}
@media (min-width: 992px) {

.nav-items {
    position: absolute;
    right: 60px
}
}



.logo-t {
    width: 150px;
    height: 70px;
}

.logo a {
    /* padding-top: 1px; */
    display: flex;
    flex-direction: column;
    clear: both;
    padding-bottom: 30px;
    height: 80px;
    width: 250px;
    z-index: 100;
    position: absolute; 
    top: 3px;
    left: 4%;
}
p {
    width: 500px;
    display: block;
}
em {
    font-size: 0.5em;
    float: left;
    display: block;
}
/* .nav img { */
    /* display: inline-block; */
    /* margin-top: 5px;
    width: 15px;
    float: left;
} */
.letterhead {
    display: inline-block;
    line-height: 260%;
    float: left;
}

.gray {
    color: #ccc;
}
.nav-link {
    color: #222;
    opacity: 0.55;
    transition: all 0.6s;
    color: #222;
    font-size: 1em;
}
.nav-link:hover {
    opacity: 1;
}
.fa-bars {
    display: none !important;
    color: #a8a5a3;
    font-size: 2rem;
}
.nav ul {
    display: flex;
    justify-content: space-between;
}
.nav li {
    margin: 0 15px;
    justify-content: space-between;
    font-size: 1em;
}
.nav a {
    font-size: 1em;
    text-decoration: none;
}
.nav .active {
    color: tomato;
}

.nav a.active {
    color: #222;
}


@media only screen and (max-width: 800px) {
.Navigation{ padding: 0px;}
    .logo {
        padding-left: 15px;
        padding-top: 0px !important;
    }
}

@media only screen and (max-width: 600px) {
    .Navigation {
        height: auto;
        min-height: 50px;
        display: block;
        position: relative;
    }
    .logo {
        width: 100%;
        display: block;
        padding-top: 20px;
        margin: 0px;
        margin-left: -5px;
    }
    a {
        padding: 20px 0px;
    }
    .nav {
        height: 80px;
    }

.fa-bars {
    display: inline-block !important;
    position: absolute!important;
    top: 50% !important;
    right: 15% !important;
    cursor: pointer!important;
}
ul.collapsed {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    overflow: hidden;
    max-height: 0;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -moz-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -webkit-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    -o-transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
ul.is-expanded {
     overflow: hidden;
     max-height: 500px; /* approximate max height */
     -moz-transition-duration: 0.4s;
     -webkit-transition-duration: 0.4s;
     -o-transition-duration: 0.4s;
     transition-duration: 0.4s;
     -moz-transition-timing-function: ease-in;
     -webkit-transition-timing-function: ease-in;
     -o-transition-timing-function: ease-in;
     transition-timing-function: ease-in;
 }
li {
    padding: 15px 10px;
    margin: 0px 0px;
    width: 100%;
}}
