@import url("https://fonts.googleapis.com/css?family=PT+Serif&display=swap");

.quiz-container {
  margin: 0;
  padding: 0;
}

.quiz-q-container {
  position: absolute;
}

.quiz-title,
.quiz-desc,
.q-question {
  font-family: "PT Serif", serif;
  position: absolute;
  color: #878787;
}

.quiz-title {
  z-index: 10;
  text-decoration: underline;
  font-weight: 900;
}

.quiz-desc {
  z-index: 10;
}

.q-img {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
  position: absolute;
}

.q-first-ans,
.q-second-ans {
  position: absolute;
  font-family: "PT Serif", serif;
  color: #878787;
}
@media (min-width:0px) and  (max-width: 480px) {
  .quiz-title {
   top: 44px;
   left: 13%;
  }
  
  .quiz-desc {
    top: 100px;
    left: 4%;
  }
  .q-question {
    top: 170px;
    width: 100%!important;
    font-size: 20px;
    left: 4%;
    position: relative;
  }
  
  .q-img {
    top: 240px;
    left: 55px;
  }
  
  .q-first-ans {
    top: 510px;
    left: 17px;
  }
  .q-second-ans {
    top: 560px;
    left: 17px;
  }
}

@media (min-width: 481px) and  (max-width: 600px) {
  .quiz-title {
    top: 3px;
    left: 30%;
   }
   
   .quiz-desc {
     top: 100px;
     left: 4%;
   }
   .q-question {
     top: 170px;
     width: 100%!important;
     font-size: 20px;
     left: 6%;
     position: relative;
   }
   
   .q-img {
     top: 240px;
     left: 25px;
   }
   
   .q-first-ans {
     top: 300px;
     left: 327px;
     width: 220px;
   }
   .q-second-ans {
    top: 370px;
    left: 327px;
    width: 220px;
   }
}

@media (min-width: 601px) and  (max-width: 768px) {
  .quiz-title {
    top: 3px;
    left: 30%;
   }
   
   .quiz-desc {
     top: 100px;
     left: 4%;
   }
   .q-question {
     top: 170px;
     width: 100%!important;
     font-size: 20px;
     left: 6%;
     position: relative;
   }
   
   .q-img {
     top: 240px;
     left: 25px;
   }
   
   .q-first-ans {
     top: 300px;
     left: 327px;
     width: 320px;
   }
   .q-second-ans {
    top: 370px;
    left: 327px;
    width: 320px;
   }
}

@media (min-width: 769px) and (max-width: 992px) {
  .quiz-title {
    top: 3px;
    left: 40%;
   }
   
   .quiz-desc {
     top: 100px;
     left: 9%;
   }
   .q-question {
     top: 170px;
     width: 100%!important;
     font-size: 30px;
     left:17%;
     position: relative;
   }
   
   .q-img {
     top: 270px;
     left: 125px;
   }
   
   .q-first-ans {
     top: 320px;
     left: 427px;
     width: 420px;
   }
   .q-second-ans {
    top: 390px;
    left: 427px;
    width: 420px;
   }
}

@media (min-width: 993px) and (max-width: 1382px) {
  .quiz-title {
    top: 3px;
    left: 40%;
   }
   
   .quiz-desc {
     top: 100px;
     left: 15%;
   }
   .q-question {
     top: 170px;
     width: 100%!important;
     font-size: 30px;
     left:39%;
     position: relative;
   }
   
   .q-img {
     top: 270px;
     left: 39%;
   }
   
   .q-first-ans {
     top: 320px;
     left: 110%;
     width: 420px;
   }
   .q-second-ans {
    top: 390px;
    left: 110%;    
    width: 420px;
   }
}

@media(min-width: 1383px) { 
  .quiz-title {
    top: 3px;
    left: 40%;
   }
   
   .quiz-desc {
     top: 100px;
     left:15%;
   }
   .q-question {
     top: 170px;
     width: 100%!important;
     font-size: 30px;
     left:49%;
     position: relative;
   }
   
   .q-img {
     top: 270px;
     left: 64%;
   }
   
   .q-first-ans {
     top: 320px;
     left: 140%;
     width: 520px;
   }
   .q-second-ans {
    top: 390px;
    left: 140%;    
    width: 520px;
   }
  }
/*modal*/
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.red-quiz-modal-message {
  margin-top: 25px;
  margin-bottom: 25px;
  color: red;
}

.yeey > .before,
.yeey > .after {
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff;
  -webkit-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 5s position linear infinite backwards;
}

.yeey > .after {
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    -webkit-box-shadow: 101px -172.66667px #00ffd5, -225px -114.66667px #00ff91,
      142px -49.66667px #eaff00, -149px 15.33333px #00ffaa,
      -247px -27.66667px #6aff00, 145px -266.66667px #6a00ff,
      -83px -152.66667px #ff004d, 41px -197.66667px #00ff77,
      12px 62.33333px #005eff, 112px -377.66667px #ee00ff,
      -217px -361.66667px #aa00ff, 113px -135.66667px #6600ff,
      196px -118.66667px #00fff2, -2px -3.66667px #0051ff,
      112px -55.66667px #eaff00, -34px -119.66667px #ff0088,
      144px -28.66667px #006fff, 136px -134.66667px #ff0091,
      199px -272.66667px #00ffb3, -38px 56.33333px #ff002f,
      121px -22.66667px #a2ff00, 155px -194.66667px #ff0073,
      -80px -93.66667px #004dff, -120px 81.33333px #ff2200,
      -76px 81.33333px #04ff00, -57px -254.66667px #ff0009,
      -247px -6.66667px #ff4800, -241px 1.33333px #ff006a,
      87px -57.66667px #7300ff, 62px 66.33333px #ff0095,
      -1px -98.66667px #0073ff, -1px -201.66667px #f2ff00,
      198px -232.66667px #ffd900, 187px 11.33333px #ff5e00,
      -109px -334.66667px #00e1ff, 159px -335.66667px #00ffe6,
      224px -15.66667px #00ffe1, -177px 41.33333px #37ff00,
      197px -328.66667px #9d00ff, -229px 32.33333px #a600ff,
      190px -290.66667px #00ffbf, -173px -281.66667px #001eff,
      -142px -248.66667px #8400ff, 132px -59.66667px #aeff00,
      -53px 78.33333px #00ff15, 148px -70.66667px #3300ff,
      174px -283.66667px #00ffd5, -216px -1.66667px #66ff00,
      61px 52.33333px #4400ff, -217px -333.66667px #f200ff,
      111px -175.66667px #00ff48;
    box-shadow: 101px -172.66667px #00ffd5, -225px -114.66667px #00ff91,
      142px -49.66667px #eaff00, -149px 15.33333px #00ffaa,
      -247px -27.66667px #6aff00, 145px -266.66667px #6a00ff,
      -83px -152.66667px #ff004d, 41px -197.66667px #00ff77,
      12px 62.33333px #005eff, 112px -377.66667px #ee00ff,
      -217px -361.66667px #aa00ff, 113px -135.66667px #6600ff,
      196px -118.66667px #00fff2, -2px -3.66667px #0051ff,
      112px -55.66667px #eaff00, -34px -119.66667px #ff0088,
      144px -28.66667px #006fff, 136px -134.66667px #ff0091,
      199px -272.66667px #00ffb3, -38px 56.33333px #ff002f,
      121px -22.66667px #a2ff00, 155px -194.66667px #ff0073,
      -80px -93.66667px #004dff, -120px 81.33333px #ff2200,
      -76px 81.33333px #04ff00, -57px -254.66667px #ff0009,
      -247px -6.66667px #ff4800, -241px 1.33333px #ff006a,
      87px -57.66667px #7300ff, 62px 66.33333px #ff0095,
      -1px -98.66667px #0073ff, -1px -201.66667px #f2ff00,
      198px -232.66667px #ffd900, 187px 11.33333px #ff5e00,
      -109px -334.66667px #00e1ff, 159px -335.66667px #00ffe6,
      224px -15.66667px #00ffe1, -177px 41.33333px #37ff00,
      197px -328.66667px #9d00ff, -229px 32.33333px #a600ff,
      190px -290.66667px #00ffbf, -173px -281.66667px #001eff,
      -142px -248.66667px #8400ff, 132px -59.66667px #aeff00,
      -53px 78.33333px #00ff15, 148px -70.66667px #3300ff,
      174px -283.66667px #00ffd5, -216px -1.66667px #66ff00,
      61px 52.33333px #4400ff, -217px -333.66667px #f200ff,
      111px -175.66667px #00ff48;
  }
}

@keyframes bang {
  to {
    -webkit-box-shadow: 101px -172.66667px #00ffd5, -225px -114.66667px #00ff91,
      142px -49.66667px #eaff00, -149px 15.33333px #00ffaa,
      -247px -27.66667px #6aff00, 145px -266.66667px #6a00ff,
      -83px -152.66667px #ff004d, 41px -197.66667px #00ff77,
      12px 62.33333px #005eff, 112px -377.66667px #ee00ff,
      -217px -361.66667px #aa00ff, 113px -135.66667px #6600ff,
      196px -118.66667px #00fff2, -2px -3.66667px #0051ff,
      112px -55.66667px #eaff00, -34px -119.66667px #ff0088,
      144px -28.66667px #006fff, 136px -134.66667px #ff0091,
      199px -272.66667px #00ffb3, -38px 56.33333px #ff002f,
      121px -22.66667px #a2ff00, 155px -194.66667px #ff0073,
      -80px -93.66667px #004dff, -120px 81.33333px #ff2200,
      -76px 81.33333px #04ff00, -57px -254.66667px #ff0009,
      -247px -6.66667px #ff4800, -241px 1.33333px #ff006a,
      87px -57.66667px #7300ff, 62px 66.33333px #ff0095,
      -1px -98.66667px #0073ff, -1px -201.66667px #f2ff00,
      198px -232.66667px #ffd900, 187px 11.33333px #ff5e00,
      -109px -334.66667px #00e1ff, 159px -335.66667px #00ffe6,
      224px -15.66667px #00ffe1, -177px 41.33333px #37ff00,
      197px -328.66667px #9d00ff, -229px 32.33333px #a600ff,
      190px -290.66667px #00ffbf, -173px -281.66667px #001eff,
      -142px -248.66667px #8400ff, 132px -59.66667px #aeff00,
      -53px 78.33333px #00ff15, 148px -70.66667px #3300ff,
      174px -283.66667px #00ffd5, -216px -1.66667px #66ff00,
      61px 52.33333px #4400ff, -217px -333.66667px #f200ff,
      111px -175.66667px #00ff48;
    box-shadow: 101px -172.66667px #00ffd5, -225px -114.66667px #00ff91,
      142px -49.66667px #eaff00, -149px 15.33333px #00ffaa,
      -247px -27.66667px #6aff00, 145px -266.66667px #6a00ff,
      -83px -152.66667px #ff004d, 41px -197.66667px #00ff77,
      12px 62.33333px #005eff, 112px -377.66667px #ee00ff,
      -217px -361.66667px #aa00ff, 113px -135.66667px #6600ff,
      196px -118.66667px #00fff2, -2px -3.66667px #0051ff,
      112px -55.66667px #eaff00, -34px -119.66667px #ff0088,
      144px -28.66667px #006fff, 136px -134.66667px #ff0091,
      199px -272.66667px #00ffb3, -38px 56.33333px #ff002f,
      121px -22.66667px #a2ff00, 155px -194.66667px #ff0073,
      -80px -93.66667px #004dff, -120px 81.33333px #ff2200,
      -76px 81.33333px #04ff00, -57px -254.66667px #ff0009,
      -247px -6.66667px #ff4800, -241px 1.33333px #ff006a,
      87px -57.66667px #7300ff, 62px 66.33333px #ff0095,
      -1px -98.66667px #0073ff, -1px -201.66667px #f2ff00,
      198px -232.66667px #ffd900, 187px 11.33333px #ff5e00,
      -109px -334.66667px #00e1ff, 159px -335.66667px #00ffe6,
      224px -15.66667px #00ffe1, -177px 41.33333px #37ff00,
      197px -328.66667px #9d00ff, -229px 32.33333px #a600ff,
      190px -290.66667px #00ffbf, -173px -281.66667px #001eff,
      -142px -248.66667px #8400ff, 132px -59.66667px #aeff00,
      -53px 78.33333px #00ff15, 148px -70.66667px #3300ff,
      174px -283.66667px #00ffd5, -216px -1.66667px #66ff00,
      61px 52.33333px #4400ff, -217px -333.66667px #f200ff,
      111px -175.66667px #00ff48;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {
  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }
  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }
  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }
  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }
  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}
