.form-control {
  border-radius: 10px;
}

.login-btn {
  border-radius: 15px;
}

.login-text {
  margin-left: 18px;
  margin-right: 18px;
}
#login {
  position: relative;
  left: 4%;
}
@media (max-width: 767px) and (orientation: landscape) {
  
#login {
  top: -1099px;
  left: 4%;
}
}
@media (min-width: 768px) and (orientation: portrait) {
  
  .signup-form {
    top: -1667px;
    left: -80px;
}
#login {
  top: -1667px;
  left: -80px;
}
.login-btn {
  width: 110px;
  left: -10px;
}
.form-control {
  width: 300px;
}
}

