.form-control {
  border-radius: 10px;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.login-btn {
  border-radius: 14px;
}

.login-text {
  margin-left: 18px;
  margin-right: 18px;
}

#login {
  position: absolute!important;
  left: 4%;
}

@media  (max-width: 600px) {
  #login {
    top: 200px;
    left: -155px;
    width: 540px;
  }
}


@media (min-width: 601px) and (max-width: 768px) {
  #login {
    top: 166px;
    left: 5px;
    width: 580px;
  }
}


@media (min-width: 769px) and (max-height: 600px) {
  #login {
    top: 166px;
    left: 60px;
    width: 580px;
  }
}

@media (min-width: 769px) and (min-height: 601px) {
  #login {
    top:186px;
    left: 120px;
    width: 580px;
    position: absolute !important;
  }
}
