@import url("https://fonts.googleapis.com/css?family=PT+Serif&display=swap");

.move-Gurl {
  position: relative;
}
.stay-Gurl {
  position: relative;
}

.model {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  vertical-align: middle;
}

.gurlContainer {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.gurl {
  height: 80vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.spinner {
  display: block;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}

.arm {
  top: 48%;
  left: 75%;
}

.leg {
  top: 93%;
  left: 54%;
}

.hair {
  top: 4%;
  left: 60%;
}

.face {
  top: 15%;
  left: 57%;
}

.hand {
  top: 78%;
  left: 51%;
}

.neck {
  top: 24%;
  left: 49%;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loading div {
  width: 1rem;
  height: 1rem;
  margin: 0;
  background: #000000;
  border-radius: 50%;
  -webkit-animation: 0.9s bounce infinite alternate;
  animation: 0.9s bounce infinite alternate;
}

.loading div:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loading div:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes bounce {
  to {
    opacity: 0.3;
    -webkit-transform: translate3d(0, -1rem, 0);
    transform: translate3d(0, -1rem, 0);
  }
}

@keyframes bounce {
  to {
    opacity: 0.3;
    -webkit-transform: translate3d(0, -1rem, 0);
    transform: translate3d(0, -1rem, 0);
  }
}

.donut {
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(0, 0, 0, 0.3);
  border-top-color: #000000;
  -webkit-animation: 1.5s spin infinite linear;
  animation: 1.5s spin infinite linear;
}

.donut.multi {
  border-bottom-color: #000000;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ripple {
  width: 2rem;
  height: 2rem;
  margin: 0;
  border-radius: 50%;
  border: 0.3rem solid #000000;
  -webkit-transform: translate(50%);
  transform: translate(50%);
  -webkit-animation: 1s ripple ease-out infinite;
  animation: 1s ripple ease-out infinite;
}

@-webkit-keyframes ripple {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.multi-ripple {
  width: 2.6rem;
  height: 2.6rem;
  margin: 0;
}

.multi-ripple div {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.3rem solid #000000;
  -webkit-animation: 1.5s ripple infinite;
  animation: 1.5s ripple infinite;
}

.multi-ripple div:nth-child(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fancy-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}

.fancy-spinner div {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.fancy-spinner div.ring {
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent;
  -webkit-animation: 2s fancy infinite alternate;
  animation: 2s fancy infinite alternate;
}

.fancy-spinner div.ring:nth-child(1) {
  border-left-color: #000000;
  border-right-color: #000000;
}

.fancy-spinner div.ring:nth-child(2) {
  border-top-color: #000000;
  border-bottom-color: #000000;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.fancy-spinner div.dot {
  width: 1rem;
  height: 1rem;
  background: #000000;
}

@-webkit-keyframes fancy {
  to {
    -webkit-transform: rotate(360deg) scale(0.5);
    transform: rotate(360deg) scale(0.5);
  }
}

@keyframes fancy {
  to {
    -webkit-transform: rotate(360deg) scale(0.5);
    transform: rotate(360deg) scale(0.5);
  }
}
.info-g-first-bttn,
.info-g-second-bttn {
  position: absolute;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 9px;
  width: 250px;
  text-align: center;
  opacity: 0.4;
}

/*modal*/

.hover-question {
  position: absolute;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.45);
  display: block;
  z-index: 100;
}
.hover-text,
.onhover-quiz-bttn,
.onhover-findoutMore-bttn {
  position: absolute;
}
#building-line-1 {
  position: absolute;
  height: 50px;
  background: black;
  top: 270px;
  width: 200px;
}

.not-hovered-question {
  display: none;
}

.check {
  position: absolute;
  top: 10px;
  left: 10px;
}

.hover-text {
  position: absolute;
  top: 10px;
  left: 64px;
  width: 330px;
  font-family: "PT Serif", serif;
}

.loading {
  position: relative;
  top: 300px;
  left: 700px;
  background: coral;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.onhover-quiz-bttn {
  position: absolute;
  top: 155px;
  left: 33px;
  width: 180px;
}

.onhover-findoutMore-bttn {
  position: absolute;
  top: 155px;
  left: 238px;
  width: 140px;
}

@media (min-width: 0px) and (max-width: 410px) {
  .gurlContainer {
    left: -50%;
    top: 50px;
  }
  .move-Gurl {
    display: none;
  }
  .info-g-first-bttn {
    display: none;
  }
  .info-g-second-bttn {
    top: 74vh;
    left: 25%;
  }

  .hover-question {
    height: 38vh;
    width: 93vw;
    left: 0%;
    top: 230px;
    background-color: white;
  }
  .hover-text {
    width: 70vw;
  }
  .onhover-quiz-bttn {
    top: 23vh;
    left: 29%;
    width: 160px;
    color: grey;
    font-size: 14px;
    height: 40px;
  }
  .onhover-findoutMore-bttn {
    top: 31vh;
    left: 29%;
    width: 160px;
    height: 40px;
  }
}

@media (min-width: 411px) and (max-width: 600px) {
  .gurlContainer {
    left: -50%;
    top: 48px;
  }
  .move-Gurl {
    left: -66%;
    top: 58px;
  }
  .info-g-first-bttn {
    display: none;
  }
  .info-g-second-bttn {
    top: 70vh;
    left: 50%;
  }
  .hover-question {
    height: 220px;
    width: 90vw;
    left: 0%;
    top: 30vh;
    background-color: white;
  }
  .hover-text {
    width: 76vw;
  }
  .onhover-quiz-bttn {
    top: 150px;
    left: 13%;
    width: 160px;
    color: grey;
    font-size: 14px;
    height: 40px;
  }
  .onhover-findoutMore-bttn {
    top: 150px;
    left: 53%;
    width: 190px;
    height: 40px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .gurlContainer {
    left: -50%;
    top: 48px;
  }
  .move-Gurl {
    left: -66%;
  }
  .info-g-first-bttn {
    display: none;
  }
  .info-g-second-bttn {
    opacity: 0.3;
    top: 74vh;
    left: 18%;
    width: 65vw;
  }
  .hover-question {
    height: 200px;
    width: 80vw;
    left: 0%;
    top: 30vh;
    background-color: white;
  }
  .hover-text {
    width: 64vw;
  }
  .onhover-quiz-bttn {
    top: 134px;
    left: 13%;
    width: 160px;
    color: grey;
    font-size: 14px;
    height: 40px;
  }
  .onhover-findoutMore-bttn {
    top: 134px;
    left: 53%;
    width: 190px;
    height: 40px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .gurlContainer {
    left: -50%;
    top: 78px;
  }
  .move-Gurl {
    left: -66%;
    top: 58px;
  }
  .info-g-first-bttn {
    display: none;
  }
  .info-g-second-bttn {
    opacity: 0.3;
    top: 74vh;
    left: 50%;
    width: 40vw;
  }
  .hover-question {
    height: 36vh !important;
    width: 26vw !important;
    left: 42% !important;
    top: 18vh!important;
    background-color: white;
  }
  .hover-text {
    width: 20vw !important;
  }
  .onhover-quiz-bttn {
    top: 22vh !important;
    left: 20% !important;
    width: 160px;
    color: grey;
    font-size: 16px!important;
    height: 40px;
  }
  .onhover-findoutMore-bttn {
    top: 29vh !important;
    left: 20% !important;
    width: 248px!important;
    height: 40px;
  }
  .hover-question {
    height: 330px!important;
    width: 40vw!important;
    left: 11%;
    top: 20px;
    background-color: white;
  }
  .hover-text {
    width: 30vw!important;
  }
  .onhover-quiz-bttn {
    top: 220px!important;
    left: 18%;
    width: 26vw;
    color: grey;
    font-size: 11px;
    height: 40px;
  }
  .onhover-findoutMore-bttn {
    top:270px!important;
    left: 57%;
    width: 26vw!important;
    height: 40px;
    color: grey;
    font-size: 14px;
  }
}

@media (min-width: 993px) and (max-width: 1382px) {
  .gurlContainer {
    left: 96%;
    top: 78px;
  }
  .move-Gurl {
    left: -46%;
    top: 58px;
  }
  .info-g-second-bttn {
    display: none;
  }
  .info-g-first-bttn {
    opacity: 0.3;
    top: 74vh;
    left: 65%;
    width: 30vw;
  }
  .hover-question {
    height: 40vh !important;
    width: 36vw !important;
    left: 42% !important;
    top: 18vh!important;
    background-color: white;
  }
  .hover-text {
    width: 28vw !important;
  }
  .onhover-quiz-bttn {
    top: 23vh !important;
    left: 20% !important;
    width: 220px!important;
    color: grey;
    font-size: 16px!important;
    height: 40px;
  }
  .onhover-findoutMore-bttn {
    top: 30vh !important;
    left: 20% !important;
    width: 220px!important;
    height: 40px;
  }
  .hover-question {
    height: 230px;
    width: 60vw;
    left: 11%;
    top: 20px;
    background-color: white;
  }
  .hover-text {
    width: 50vw;
  }
  .onhover-quiz-bttn {
    top: 180px;
    left: 18%;
    width: 16vw;
    color: grey;
    font-size: 11px;
    height: 40px;
  }
  .onhover-findoutMore-bttn {
    top: 180px;
    left: 57%;
    width: 17vw;
    height: 40px;
    color: grey;
    font-size: 14px;
  }
}

@media (min-width: 1383px) {
  .gurlContainer {
    left: 96%;
    top: 78px;
  }
  .move-Gurl {
    left: -46%;
    top: 58px;
  }
  .info-g-second-bttn {
    display: none;
  }
  .info-g-first-bttn {
    opacity: 0.3;
    top: 74vh;
    left: 65%;
    width: 30vw;
  }
  .hover-question {
    height: 40vh !important;
    width: 26vw !important;
    left: 42% !important;
    top: 18vh!important;
    background-color: white;
  }
  .hover-text {
    width: 20vw !important;
  }
  .onhover-quiz-bttn {
    top: 23vh !important;
    left: 20% !important;
    width: 160px;
    color: grey;
    font-size: 16px!important;
    height: 40px;
  }
  .onhover-findoutMore-bttn {
    top: 30vh !important;
    left: 20% !important;
    width: 248px!important;
    height: 40px;
  }
  .hover-question {
    height: 230px;
    width: 60vw;
    left: 11%;
    top: 20px;
    background-color: white;
  }
  .hover-text {
    width: 50vw;
  }
  .onhover-quiz-bttn {
    top: 190px;
    left: 18%;
    width: 16vw;
    color: grey;
    font-size: 11px;
    height: 40px;
  }
  .onhover-findoutMore-bttn {
    top: 180px;
    left: 57%;
    width: 17vw;
    height: 40px;
    color: grey;
    font-size: 14px;
  }
}
