@import url("https://fonts.googleapis.com/css?family=PT+Serif&display=swap");


.move-Gurl {
  position: relative;
}
.stay-Gurl {
  position: relative;
}

.model {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  vertical-align: middle;
}

.gurlContainer {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.gurl {
  height: 80vh;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.spinner {
  display: block;
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
}

.arm {
  top: 48%;
  left: 75%;
}

.leg {
  top: 93%;
  left: 54%;
}

.hair {
  top: 4%;
  left: 60%;
}

.face {
  top: 15%;
  left: 57%;
}

.hand {
  top: 78%;
  left: 51%;
}

.neck {
  top: 24%;
  left: 49%;
}

.loading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.loading div {
  width: 1rem;
  height: 1rem;
  margin: 0;
  background: #000000;
  border-radius: 50%;
  -webkit-animation: 0.9s bounce infinite alternate;
  animation: 0.9s bounce infinite alternate;
}

.loading div:nth-child(2) {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.loading div:nth-child(3) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes bounce {
  to {
    opacity: 0.3;
    -webkit-transform: translate3d(0, -1rem, 0);
    transform: translate3d(0, -1rem, 0);
  }
}

@keyframes bounce {
  to {
    opacity: 0.3;
    -webkit-transform: translate3d(0, -1rem, 0);
    transform: translate3d(0, -1rem, 0);
  }
}

.donut {
  width: 2rem;
  height: 2rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid rgba(0, 0, 0, 0.3);
  border-top-color: #000000;
  -webkit-animation: 1.5s spin infinite linear;
  animation: 1.5s spin infinite linear;
}

.donut.multi {
  border-bottom-color: #000000;
}

@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.ripple {
  width: 2rem;
  height: 2rem;
  margin: 0;
  border-radius: 50%;
  border: 0.3rem solid #000000;
  -webkit-transform: translate(50%);
  transform: translate(50%);
  -webkit-animation: 1s ripple ease-out infinite;
  animation: 1s ripple ease-out infinite;
}

@-webkit-keyframes ripple {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes ripple {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.multi-ripple {
  width: 2.6rem;
  height: 2.6rem;
  margin: 0;
}

.multi-ripple div {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 0.3rem solid #000000;
  -webkit-animation: 1.5s ripple infinite;
  animation: 1.5s ripple infinite;
}

.multi-ripple div:nth-child(2) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.fancy-spinner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
}

.fancy-spinner div {
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.fancy-spinner div.ring {
  border-width: 0.5rem;
  border-style: solid;
  border-color: transparent;
  -webkit-animation: 2s fancy infinite alternate;
  animation: 2s fancy infinite alternate;
}

.fancy-spinner div.ring:nth-child(1) {
  border-left-color: #000000;
  border-right-color: #000000;
}

.fancy-spinner div.ring:nth-child(2) {
  border-top-color: #000000;
  border-bottom-color: #000000;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.fancy-spinner div.dot {
  width: 1rem;
  height: 1rem;
  background: #000000;
}

@-webkit-keyframes fancy {
  to {
    -webkit-transform: rotate(360deg) scale(0.5);
    transform: rotate(360deg) scale(0.5);
  }
}

@keyframes fancy {
  to {
    -webkit-transform: rotate(360deg) scale(0.5);
    transform: rotate(360deg) scale(0.5);
  }
}
.info-g-first-bttn, 
.info-g-second-bttn {
  position: absolute;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 9px;
  width: 250px;
  text-align: center;
  opacity: 0.7;
}


/*modal*/
.hover-question {
  position: absolute;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.45);
  -moz-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.45);
  box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.45);
  display: block;
  z-index: 100;

}
#building-line-1 {
  position: absolute;
  height: 50px;
  background: black;
  top: 270px;
  width: 200px;
}

.not-hovered-question {
  display: none;
}

.check {
  position: absolute;
  top: 10px;
  left: 10px;
}

.hover-text {
  position: absolute;
  top: 10px;
  left: 64px;
  width: 330px;
  font-family: 'PT Serif', serif;
}

.loading {
  position: relative;
  top: 300px;
  left: 700px;
  background: coral;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.onhover-quiz-bttn {
  position: absolute;
  top: 155px;
  left: 33px;
  width: 180px;
}

.onhover-findoutMore-bttn {
  position: absolute;
  top: 155px;
  left: 238px;
  width: 140px;
}

/* @media(max-width: 600px) {
  .info-g-first-bttn {
    display: none;
  }
  .info-g-second-bttn {
    left: 34%;
    top: 650px;
  }
  .model {
    padding-top: 9vh;
  }
  .gurlContainer {
    left: -50%!important;
  }
  .move-Gurl {
    top: 180px!important;
  }
} */
@media(max-width: 600px) {
  .info-g-first-bttn {
    display: none;
  }
  .info-g-second-bttn {
    left: 10%;
    top: 200px;
  }
  .model {
    padding-top: 9vh;
  }
  .gurlContainer {
    left: -50%!important;
  }
  .move-Gurl {
    top:110px;
  }
}
@media(max-width: 600px) and (min-height: 801px) {
  .info-g-first-bttn {
    display: none;
  }
  .info-g-second-bttn {
    left: 30%;
    top: 700px;
  }
  .model {
    padding-top: 9vh;
  }
  .gurlContainer {
    left: -50%!important;
  }
  .move-Gurl {
    top: 220px!important;
  }
}

@media (min-width: 601px) and (max-width: 768px) and (max-height: 600px){
  .info-g-first-bttn {
    display: none;
  }
  .info-g-second-bttn {
    left: 60%;
    top: 280px;
  }
  .model {
    padding-top: 9vh;
  }
  .gurlContainer {
    left: 50%
  }
 
  .move-Gurl {
    left: -33%;
  }
}
@media (min-width: 601px) and (max-width: 768px) and (min-height: 601px){
  .info-g-first-bttn {
    display: none;
  }
  .info-g-second-bttn {
    left: 60%;
    top: 925px;
  }
  .model {
    padding-top: 9vh;
  }
  .gurlContainer {
    left: 50%
  }
 
  .move-Gurl {
    left: -33%;
  }
}

@media (max-width: 1026px) and (max-height: 600px){
  .info-g-first-bttn {
    left: 60%;
    top: 925px;
  }
  .info-g-second-bttn {
   display: none;
  }

}

@media (max-width: 1026px) {
  .info-g-first-bttn {
    left: 53%;
    top: 795px;
    width: 370px;
  }
  .info-g-second-bttn {
    display: none;

  }
  .model {
    padding-top: 9vh;
  }
 
  .move-Gurl {
    left: -50%!important;
  }
  .gurlContainer {
    left: 10%;
  }
}

@media (min-width: 1027px) {
  .info-g-first-bttn {
    left: 60%;
    top: 725px;
    width: 450px!important;
  }
  .info-g-second-bttn {
    display: none;
    
  }
  .model {
    padding-top: 9vh;
  }
 
  .move-Gurl {
    left: -50%!important;
  }
  .gurlContainer {
    left: 110%;
  }
}