.q-card {
  position: relative;
  top: 200px;
  left: 200px;
}

.ac-question {
  position: absolute;
  width: 90%;
  top: 77px;
}
.ac-f-ans {
  position: absolute;
  top: 200px;
  width: 350px!important;
  left: 8px;
  
}

.ac-s-ans {
  position: absolute;
  top: 260px;
  width: 350px!important;
  left: 8px;
}

.q-c-img-title {
  position: absolute;
  top: 310px;
  width: 350px!important;
  left: 19px;
  font-family: 6px;
}

.ac-img-src {
  position: absolute;
  top: 340px;
  width: 350px!important;
  left: 8px;
}
.mySaveCardQuiz-bttn {
  position: absolute;
  top: 399px;
  left:35%;
}
.quiz-admin-cards-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.qcard-f-card 
.qcard-s-card 
.qcard-t-card 
.qcard-fo-card {
  position: absolute;
}


/* @media (max-width: 767px) {
#qcard-f-card {
  left: 20%;
  top: 300px;
}
.qcard-f-card {
  
}
.qcard-f-card {
  
}
.qcard-f-card {
  
}
} */

@media  (min-width: 768px) and (max-width: 1024px) {
  .qcard-f-card {

  }
  .qcard-f-card {
    
  }
  .qcard-f-card {
    
  }
  .qcard-f-card {
    
  }
}

@media  (min-width: 1025px) {
  .qcard-f-card {
    top: 500px;
  }
  .qcard-f-card {
    
  }
  .qcard-f-card {
    
  }
  .qcard-f-card {
    
  }
}
/*END OF feature/parteners*/