.App {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body,
*,
html {
  padding: 0;
  margin: 0;
}
.form-control {
  border-radius: 10px;
}
#user-form {
  position: absolute;
}
.submit {
  position: absolute;
  text-transform: uppercase;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
  height: 35px;
  width: 130px;
  left: 30%;
  z-index: 100;
}
/*login/signup form*/
@media (min-width: 0px) and (max-width: 400px) {
  #user-form {
    width: 90vw;
    left: 6%;
  }
}

@media (min-width: 401px) and (max-width: 600px) {
  #user-form {
    width: 60vw;
    left: 31%;
    top: 22px;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  #user-form {
    width: 50vw;
    top: 20px;
    left: 48%;
  }
  .myinput {
    height: 28px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  #user-form {
    width: 48vw;
    top: 20px;
    left: 46%;
  }
}

@media (min-width: 993px) and (max-width: 1382px) {
  #user-form {
    width: 30vw;
    top: 20px;
    left: 64%;
  }
}

@media (min-width: 1383px) {
  #user-form {
    width: 30vw;
    top: 20px;
    left: 64%;
  }
}
