
/*SIGNUP*/



/*LOGIN*/


/*END*LOGIN*/

/*START QUIZ*/

@import url("https://fonts.googleapis.com/css?family=PT+Serif&display=swap");


.quiz-container {
  position: relative;
  margin: 0;
  padding: 0;
}



.quiz-q-container {
  top: 0px;
  position: absolute; 
  width: 1330px;
  height: 800px;

  /* display: none!important; */
}

.quiz-title,
.quiz-desc,
.q-question {
  font-family: 'PT Serif', serif;
  position: absolute;
  color: #878787;
}

.quiz-title {
  z-index: 10;
  text-decoration: underline;
  font-weight: 900;
}

.quiz-desc {
  z-index: 10;
}


.q-img {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 0 10px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 0 10px;
  position: absolute;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* .q-img:hover {
  top: 46px;
} */

.q-first-ans,
.q-second-ans
 {
  position: absolute;
  font-family: 'PT Serif', serif;
  color: #878787;
}





.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position: fixed;
  background: white;
  width: 80%;
  height: auto;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.red-quiz-modal-message {
  margin-top: 25px;
  margin-bottom: 25px;
  color: red;
}
/*END-QUIZ*/

/*START MAP & INFO MODAL*/
.gMap {
  position: relative;
}
  .hover-question {
    position: absolute;
    margin: 0;
    padding: 0;
    -webkit-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.45);
    -moz-box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 23px -1px rgba(0, 0, 0, 0.45);
    display: block;
    z-index: 100;

  }
  .hover-text,  .onhover-quiz-bttn, .onhover-findoutMore-bttn {
    position: absolute;
  }
  
@media (max-width: 567px)  {
 
  .gMap {
    width: 90vw!important;
    height: 70vh!important;
    top: 860px!important;
    left: 1%;

  }
  
}
@media (max-width: 567px ) {

  .hover-question {
    height: 320px!important;
    width: 340px!important;
    left: 2%;
    top: 190px!important;
    background-color: white;

   
  }
  .hover-text {
    width: 260px;
  }
  .onhover-quiz-bttn {
    top: 210px;
    left: 5%;
    width: 140px;
    height: 60px;
    color: black!important;
  }
    .onhover-findoutMore-bttn {
      top:225px;
      left: 49%
    }
}


@media (max-width: 767px) and (orientation: portrait) {

  .logo {
    width: 150px;
    position: relative;
    top:-9px;
  }
  .gMap {
    width: 680px;
    height: 50vh;
    top:660px;
    left: 4%;

  }
  .quiz-container {
    height: 100%;
    width: 100%;
    top: -410px;
  }
  .quiz-q-container {
    top: 0px;
    width: 1330px;
    height: 800px;
  
  }
  .quiz-title {
    top: -180px;
    left: 18%;
    width: 100%;
    font-size: 33px;
  }
  .quiz-desc {
    top: -120px;
    left: 6%;
    font-size: 16px;
  }
  
  .q-question {
    top: -33px;
    font-size: 19px;
    left: 2%;

  }
  
  .q-img {
    margin: 80px;
    border-radius: 80px;
    left: -3%;
    top: -49px;
    width: 300px;
    height: 250px;
  }
 
  
  .q-first-ans,
  .q-second-ans
   {
    width: 300px;
    left: 3%;
    height: 77px;
  }
  
  .q-first-ans{
    top: 310px;
  }
  .q-second-ans {
    top: 410px;
  }
  
  

}

@media (max-width: 767px) and (orientation: landscape) {

  .logo {
    width: 250px;
  }
  .gMap {
    width: 90vw!important;
    height: 50vh;
    top:590px;
    left: 4%;

  }
  .hover-question {
    height: 290px!important;
    width: 440px!important;
    left: 15%;
    top: 190px!important;
    background-color: white;
   
  }
  .hover-text {
    width: 46vw;
  }
  .onhover-quiz-bttn {
    top: 180px;
    left: 9%;
    width: 140px;
    height: 60px;
    }

    .onhover-findoutMore-bttn {
      top:192px;
      left: 53%
    }

    .quiz-container {
      height: 100%;
      width: 100%;
      top: -270px;
    }
    .quiz-q-container {
      top: 0px;
      width: 1330px;
      height: 800px;
    
    }
    .quiz-title {
      top: -180px;
      left: 38%;
      width: 100%;
      font-size: 33px;
    }
    .quiz-desc {
      top: -120px;
      left: 6%;
      font-size: 16px;
    }
    
    .q-question {
      top: -73px;
      font-size: 19px;
      left: 4%;
  
    }
    
    .q-img {
      margin: 80px;
      border-radius: 80px;
      left: -3%;
      top: -89px;
      width: 300px;
      height: 250px;
    }
   
    
    .q-first-ans,
    .q-second-ans
     {
      width: 260px;
      left: 29%;
      height: 77px;
    }
    
    .q-first-ans{
      top: 20px;
    }
    .q-second-ans {
      top: 100px;
    }
    
    
}
@media (min-width: 768px) and (orientation: portrait) {
  
  .signup-form {
    top: -1667px;
    left: -80px;
}



  .gMap {
    width: 90vw!important;
    height: 60vh!important;
    top:100vh;
    left: 4%;

  }
  .hover-question {
    height: 290px!important;
    width: 440px!important;
    left: 35%;
    top: 190px!important;
    background-color: white;
   
  }
  .hover-text {
    width: 370px;
    top: 19px;
  }
  .onhover-quiz-bttn {
    top: 180px;
    left: 9%;
    width: 140px;
    height: 60px;
    }
    .onhover-findoutMore-bttn {
      top:192px;
      left: 53%
    }
    .quiz-container {
      height: 100%;
      width: 100%;
      top: -660px;
    }
    .quiz-q-container {
      top: 0px;
      width: 1330px;
      height: 800px;
    
    
    }
    .quiz-title {
      top: -180px;
      left: 33%;
      width: 100%;
      font-size: 33px;
    }
    .quiz-desc {
      top: -120px;
      left: 6%;
      font-size: 16px;
    }
    
    .q-question {
      top: -73px;
      font-size: 28px;
      left: 3%;
  
    }
    
    .q-img {
      margin: 80px;
      border-radius: 80px;
      left: -3%;
      top: -89px;
      width: 300px;
      height: 250px;
    }
   
    
    .q-first-ans,
    .q-second-ans
     {
      width: 300px;
      left: 29%;
      height: 77px;
    }
    
    .q-first-ans{
      top: 19px;
    }
    .q-second-ans {
      top: 119px;
    }
    
}

@media (min-width: 768px) and (orientation: landscape) {
  .signup-form {
    top: -1399px;
    left: 4%!important;
}
#login {
  top: -1199px;
  left: 4%;
}

  .gMap {
    width: 90vw!important;
    height: 80vh!important;
    top:115vh;
    left: 5%;

  }
  .hover-question {
    height: 240px!important;
    width: 490px!important;
    left: 38%;
    top: 190px!important;
    background-color: white;
   
  }
  .hover-text {
    width: 440px;
  }
  .onhover-quiz-bttn {
    top: 160px;
    left: 12%;
    width: 190px;
    height: 40px;
    }
    .onhover-findoutMore-bttn {
      top:162px;
      left: 59%
    }
    .quiz-container {
      height: 100%;
      width: 100%;
      top: -470px;
      left: 10%;
    }
    .quiz-q-container {
      top: 250px;
      width: 1330px;
      height: 800px;
     
    
    }
    .quiz-title {
      top:0px;
      left: 38%;
      width: 100%;
      font-size: 33px;
    }
    .quiz-desc {
      top: 135px;     
       left: 6%;
      font-size: 16px;
    }
    
    .q-question {
      top: -73px;
      font-size: 33px;
      left: 4%;
  
    }
    
    .q-img {
      margin: 80px;
      border-radius: 80px;
      left: 0%;
      top: -89px;
      width: 300px;
      height: 250px;
    }
   
    
    .q-first-ans,
    .q-second-ans
     {
      width: 600px;
      left: 35%;
      height: 77px;
    }
    
    .q-first-ans{
      top: 20px;
    }
    .q-second-ans {
      top: 100px;
    }
}


/*END MAP*/


/*# sourceMappingURL=App.css.map */

