.gMap {
  position: relative;
}

@media (min-width: 0px) and (max-width: 480px) {
  .gMap {
    width: 90vw !important;
    height: 67vh !important;
    top: 40vh;
    left: 0.5%;
  }
}

@media (min-width: 481px) and (max-width: 600px) {
  .gMap {
    width: 90vw !important;
    height: 70vh !important;
    top: 20vh;
    left: 1%;
  }
}

@media (min-width: 601px) and (max-width: 768px) {
  .gMap {
    width: 90vw !important;
    height: 70vh !important;
    top: 20vh;
    left: 1%;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .gMap {
    width: 90vw !important;
    height: 70vh !important;
    top: 24vh;
    left: 3%;
  }
}

@media (min-width: 993px) and (max-width: 1382px) {
  .gMap {
    width: 90vw !important;
    height: 70vh !important;
    top: 24vh;
    left: 3%;
  }
}

@media (min-width: 1383px) {
  .gMap {
    width: 90vw !important;
    height: 70vh !important;
    top: 24vh;
    left: 3%;
  }
}
